* {
    margin: 0;
    padding: 0;
}

header {
    width: 80%;
    margin: auto;
    background-color: turquoise;
}

.logo {
    padding: 1em;
    text-align: center;
}

section {
    width: 80%;
    margin: 2em auto;
}

.sectionTitle {
    margin-bottom: .80em;
}